body {
	background-color: #536872;
}

.navbar{
	margin-bottom:0px;
	border-radius: 0px;
}
img {
	width: 300px;
	height: 200px;
}
h1 {
	margin: 50px 0px;
    font-size: 29px;
}

.name {
	font-size: 25px;
}
hr {
	width: 700px;
    margin-bottom: 50px;
}
.jumbotron {
	margin-bottom: 0px;
	height: 650px;
	/*background: url('/Users/naomicmine/WDI_End/FinalProject/images/VisualArt/Candleballs2.jpg');*/
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: grey 1px 1px 3px;
}

.mainImg {
	width:100%;
	height: 300px;
}

.form-control {
	width: 50%;
}

.webProj {
	box-shadow: 1px 2px 2px rgba(53, 48, 48, 0.81);
}
