body {
	background-color: #536872;
}

.navbar{
	margin-bottom:0px;
	border-radius: 0px;
	opacity: 0.5;
}
img {
	width: 300px;
	height: 200px;
}
h1 {
	margin: 50px 0px;
    font-size: 29px;
	color: white;
}

.name {
	font-size: 25px;
}

hr {
	width: 700px;
    margin-bottom: 50px;
}
a {
	color: #D5DEE1;
	text-decoration: underline;
}
.jumbotron {
	margin-bottom: 0px;
	background: url('/Users/naomicmine/WDI_End/FinalProject/images/VisualArt/Candleballs2dark.jpg');
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: grey 1px 1px 3px;
	height: 800px;
}

.mainImg {
	width:100%;
	height: 300px;
}

.form-control {
	width: 50%;
}

.webProj {
	box-shadow: 1px 2px 2px rgba(53, 48, 48, 0.81);
}

.descr {
	color: white;
	margin: 20px 5px;
	width: 85%;
	text-align: center;
}

.btn {
	background-color: #536872;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.art {
	background-color: #36454f;
}
li {
	list-style: none;
}
.item {
	height: 300px;
	display: none;
	position: relative;
}

.span8 {
	width: 600px;
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.carousel {
	position: relative;
	margin-bottom: 20px;
	line-height: 1;
}
.span4 {
	width: 300px;
	float: left;
	min-height: 1px;
	margin-left: 20px;
}

.rowz {
	margin-left: -20px;

}
.carousel-inner {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.active {
	left: 0;
}
.pic {
	height: 100%;
	width: 100%;
}
.contact {
	background-color: #6e7f80;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
