html,
body .item {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f9fffe;
  font-family: 'Montserrat', sans-serif;
  padding-top: 0px;
}
img {
  width: 100%;
}
h1 {
  margin: 90px 0px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #13131B;
}
.name {
  font-size: 25px;
}
hr {
  width: 700px;
  margin-bottom: 50px;
}
a {
  text-decoration: underline;
}
#heading {
  margin-top: 120px;
}
.jumbotron .container .container-fluid h1 {
  margin-bottom: 50px;
  font-size: 60px;
  color: white;
}
.jumbotron h3 {
  font-size: 30px;
  margin-top: 25px;
  letter-spacing: 1.5px;
  color: white;
}
.jumbotron a {
  font-size: 30px;
  text-decoration: none;
}
.form-control {
  width: 50%;
}
.webProj {
  box-shadow: 1px 2px 2px rgba(53, 48, 48, 0.81);
}
.descr {
  color: #13131B;
  margin: 20px 5px;
  width: 85%;
  text-align: center;
  margin-left: 8%;
  height: 45px;
}
.headings {
  text-align: center;
}
/*.btn {
background-color: #536872;
padding: 10px 20px;
margin-bottom: 20px;
}*/
.art {
  background-color: #13131B;
}
.art h1 {
  color: white;
  margin-bottom: 50px;
}
li {
  list-style: none;
}
.item {
  display: none;
  position: relative;
}
.span8 {
  min-height: 1px;
}
.carousel {
  position: relative;
  line-height: 1;
}
.span4 {
  min-height: 1px;
}
.rowz {
  margin-left: -20px;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 400px;
}
.active {
  left: 0;
}
.pic {
  height: 100%;
  width: 100%;
}
/*.contact {
background-color: #6e7f80;
}*/
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.seeMore {
  background-color: white;
  color: #711F22;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #711F22;
}
.seeMore:hover {
  transform: scale(1.025);
  transition: all .2s;
}
.gitLink {
  text-decoration: none;
  color: #13131B;
  font-weight: bolder;
  font-size: 17px;
  letter-spacing: 1px;
}
.appLink {
  text-decoration: none;
  color: #13131B;
  font-weight: bolder;
  font-size: 17px;
  letter-spacing: 1px;
}
.btn-primary-outline {
  color: white;
  border: 2px solid white;
  margin-top: 50px;
  padding: 20px 40px;
  text-decoration: none;
}
.parallax-window {
  min-height: 800px;
  background: transparent;
  padding: 0px;
  margin-bottom: 0px;
}
.thumbnails {
  padding: 0px;
}
.thumbnails li p {
  color: white;
  text-align: center;
}
.modal {
  background-color: black;
  opacity: 0.5;
}
.thumbnail {
  border: 1px solid #655e5e;
  border-radius: 2px;
  padding: 0px;
  opacity: .4;
}
.span2 {
  /*	padding-right: 10px;
    padding-left: 10px;
*/
  margin-bottom: 10px;
}
.span2 a {
  text-decoration: none;
}
.span2 a p {
  opacity: 0;
  letter-spacing: 2px;
  font-size: 16px;
}
.span2 a:hover p {
  opacity: 1;
}
.thumbnail:hover {
  opacity: 1;
}
.first {
  padding-bottom: 30px;
  box-shadow: 1px 2px 2px rgba(53, 48, 48, 0.81);
}
.moreTog {
  padding-bottom: 20px;
}
.devImgRow {
  padding: 0% 3%;
}
.seeMoreDiv {
  margin-bottom: 30px;
}
.btn-social-icon {
  padding: 6px 35px;
  font-size: 40px;
  color: black;
}
.navbar {
  margin-bottom: 0px;
  border: none;
  background-color: rgba(19, 19, 27, 0.62);
  border-radius: 0px;
}
.navbar-nav > li > a {
  color: white;
  text-decoration: none;
}
.gal {
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.thumbnail {
  margin-bottom: 6px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  margin-top: 10%;
  width: 5%;
}
.imgModal {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.47);
}
.item img {
  opacity: 1;
  height: auto;
  width: auto;
  max-height: 77%;
  max-width: 100%;
  margin: 0 auto;
}
.item h3 {
  color: white;
  text-align: center;
}
.item h2 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.modal-content {
  border-radius: 2px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.modal-body {
  padding: 0px;
}
.carousel-inner {
  height: 100vh;
}
.moreDesc {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-size: 15px;
}
.project h3 {
  font-weight: bolder;
  letter-spacing: 1px;
}
.close {
  color: white;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left {
    margin-left: -100px;
  }
  .carousel-control .glyphicon-chevron-right {
    margin-right: -100px;
  }
}
/*@media screen and (max-width: 1100px) {
	.descr {
		height: 70px;
	}
}*/
@media screen and (max-width: 990px) {
  .descr {
    height: 40px;
  }
  .span2 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .project {
    padding: 3% 3%;
  }
  .headings {
    font-size: 25px;
    margin: 25px 0px;
  }
  li {
    padding: 5px;
  }
  hr {
    width: 0px;
    margin-bottom: 0px;
  }
  .jumbotron .container .container-fluid h1 {
    font-size: 50px;
    margin-top: 15px;
  }
  .jumbotron h3 {
    font-size: 20px;
  }
  .jumbotron a {
    font-size: 20px;
  }
  .btn-primary-outline {
    margin-top: 40px;
    padding: 15px 30px;
  }
  .devImgRow {
    padding: 0% 5%;
  }
  .seeMore {
    padding: 10px 15px;
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 768px) {
  .span2 {
    padding-right: 50px;
    padding-left: 50px;
  }
}
